/* Global */
.body {
  background-color: #f9fafb;
  color: #676f7e;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
