@import url("./vars.css");

/* Global */
.body {
  background-color: #f9fafb;
  color: var(--color-gray);
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: -0.03em;
}

.body--menu-opened {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  color: var(--color-black);
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #f9fafb;
}

.header-top {
  background-color: var(--color-blue);
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  font-weight: 500;
  color: var(--color-white);
}

.header__number::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.header__number:hover::after,
.header__number:focus::after,
.header__number:active::after {
  width: 100%;
}

.header-top__links {
  display: flex;
  gap: 16px;
}

.header-top__link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.header-top__link:hover::after,
.header-top__link:focus::after,
.header-top__link:active::after {
  width: 100%;
}

.header-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.header__logo {
  display: flex;
  gap: 8px;
}

.logo__img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 12px;
  background: linear-gradient(135deg, #0d59a5 0%, #ee5b2b 100%);
  transition: var(--transition);
}

.logo__img a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
}

.logo__img:hover {
  transform: scale(1.2);
}

.logo .logo__title p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
}

.logo__title span {
  font-size: 12px;
}

.burger-icon {
  display: none;
  transition: var(--transition);
}

.burger-icon:focus,
.burger-icon:active {
  transform: scale(1.2);
}

.burger-icon svg path {
  transition: var(--transition);
}

.burger-icon:focus svg path,
.burger-icon:active svg path {
  stroke: var(--color-blue);
}

.header__nav * {
  transition: var(--transition);
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px 4px;
}

.nav__link {
  padding: 8px 16px;
  border-radius: 12px;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  background-color: #eaedf0;
  color: var(--color-black);
}

.nav__link--active {
  background-color: #0d59a51a;
  color: var(--color-blue);
}

.header__btn {
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  background-color: var(--color-orange);
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--color-white);
}

.header__btn:hover,
.header__btn:focus,
.header__btn:active {
  background-color: #ee5b2be6;
}

.header__btn img {
  width: 14px;
  aspect-ratio: 1;
}
