@import url("./vars.css");

/* Global */
.body {
  background-color: #f9fafb;
  color: var(--color-gray);
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: -0.03em;
}

.body--menu-opened {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.heading-badge {
  margin-bottom: 16px;
  padding: 10px 16px;
  background-color: #0d59a51a;
  border-radius: var(--border-radius);
  color: var(--color-blue);
  font-weight: 700;
}

.title {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 700;
  color: var(--color-black);
}

.subtitle {
  font-size: 16px;
  line-height: 1.5;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating p {
  font-weight: 700;
  color: var(--color-black);
}

.button {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 15px 30px;
  border-radius: 12px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
  transition: var(--transition);
}

.button:hover,
.button:focus,
.button:active {
  opacity: 0.9;
}

/* Header */
header {
  position: fixed;
  width: 100%;
  background-color: #f9fafb;
  z-index: 2;
}

.header-top {
  background-color: var(--color-blue);
}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  font-weight: 500;
  color: var(--color-white);
}

.header__number::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.header__number:hover::after,
.header__number:focus::after,
.header__number:active::after {
  width: 100%;
}

.header-top__links {
  display: flex;
  gap: 16px;
}

.header-top__link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.header-top__link:hover::after,
.header-top__link:focus::after,
.header-top__link:active::after {
  width: 100%;
}

.header-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.logo__img {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 12px;
  background: linear-gradient(135deg, #0d59a5 0%, #ee5b2b 100%);
  transition: var(--transition);
}

.logo__img a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
}

.logo__img:hover {
  transform: scale(1.2);
}

.logo .logo__title p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
}

.logo__title span {
  font-size: 12px;
}

.burger-icon {
  display: none;
  transition: var(--transition);
}

.burger-icon:focus,
.burger-icon:active {
  transform: scale(1.2);
}

.burger-icon svg path {
  transition: var(--transition);
}

.burger-icon:focus svg path,
.burger-icon:active svg path {
  stroke: var(--color-blue);
}

.header__nav * {
  transition: var(--transition);
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px 4px;
}

.nav__link {
  padding: 8px 16px;
  border-radius: 12px;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  background-color: #eaedf0;
  color: var(--color-black);
}

.nav__link--active {
  background-color: #0d59a51a;
  color: var(--color-blue);
}

.header__btn {
  display: flex;
  gap: var(--gap);
  padding: 8px 16px;
  background-color: var(--color-orange);
  border-radius: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--color-white);
}

.header__btn:hover,
.header__btn:focus,
.header__btn:active {
  background-color: #ee5b2be6;
}

.header__btn img {
  width: 14px;
  aspect-ratio: 1;
}

/* Blog */
.blog {
  background-color: #f8f8f6;
}

.blog__inner {
  padding-block: 96px;
}

.blog__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}

.blog__badge {
  max-width: 180px;
}

.blog__title {
  margin-bottom: 8px;
}

.blog__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 12px 24px;
  border-radius: var(--border-radius);
  font-weight: 700;
  color: var(--color-blue);
  transition: var(--transition);
}

.blog__link:hover,
.blog__link:focus,
.blog__link:active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.blog__list {
  display: flex;
  gap: 32px;
}

.post {
  position: relative;
  background-color: var(--color-white);
  border-radius: 16px;
  border: 1px solid #dae0e7;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 8px 30px -8px #1d23301f;
  transition: var(--transition);
}

.blog__item a:hover .post,
.blog__item a:focus .post,
.blog__item a:active .post {
  transform: translateY(-10px);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 20px 50px -15px #1d233026;
}

.post__img {
  width: 100%;
  height: 208px;
}

.post__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.post__badge {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 4px 10px;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 600;
  color: var(--color-white);
}

.post__badge--orange {
  background-color: var(--color-orange);
}

.post__badge--blue {
  background-color: var(--color-blue);
}

.post__badge--green {
  background-color: var(--color-green);
}

.post__body {
  padding: 24px;
}

.post__title {
  display: -webkit-box;
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-black);
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post__description {
  display: -webkit-box;
  margin-bottom: 16px;
  line-height: 1.5;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post__footer {
  display: flex;
  justify-content: space-between;
}

.post__author,
.post__time {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Footer */
.footer-heading {
  padding-block: 48px;
  background: linear-gradient(
    135deg,
    hsl(210 85% 35%) 0%,
    hsl(15 85% 55%) 100%
  );
  color: var(--color-white);
}

.footer-heading__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
}

.footer__subtitle {
  font-size: 16px;
  opacity: 0.8;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.footer-form__input {
  width: 288px;
  padding: 8px 12px;
  border: 1px solid #ffffff4d;
  border-radius: 10px;
  background-color: #ffffff33;
  line-height: 1.5;
  color: var(--color-white);
}

.footer-form__input::placeholder {
  color: var(--color-white);
}

.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 44px;
  border-radius: 12px;
  background-color: #f7f3ed;
  transition: var(--transition);
}

.footer-form__btn:hover,
.footer-form__btn:focus,
.footer-form__btn:active {
  opacity: 0.8;
}

.footer-body {
  padding: 64px 0 96px;
  background-color: #2d3953;
  line-height: 1.6;
  color: #ffffffb3;
}

.footer-body__inner {
  display: flex;
  justify-content: space-between;
}

.footer-body h6 {
  margin-bottom: 16px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
}

.footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__nav ul li a {
  display: inline-block;
  padding-block: 4px;
  transition: var(--transition);
}

.footer__nav ul li a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.footer__nav ul li a:hover {
  color: var(--color-white);
}

.footer__nav ul li a:hover::after {
  width: 100%;
}

.footer__about {
  max-width: 268px;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__logo .logo__title p {
  color: var(--color-white);
}

.footer__copy {
  margin-top: 16px;
  font-size: 12px;
  color: #ffffff80;
}

.footer__number,
.footer__email {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.footer__number {
  margin-bottom: 8px;
}

.footer__email {
  margin-bottom: 24px;
}

.footer__number a,
.footer__email a {
  transition: var(--transition);
}

.footer__number a:hover,
.footer__email a:hover {
  color: var(--color-white);
}

.footer__number a::after,
.footer__email a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.footer__number a:hover::after,
.footer__email a:hover::after {
  width: 100%;
}

.footer__details {
  font-size: 12px;
  color: #ffffff80;
}
