@import url("./global-media.css");

@media (max-width: 799px) {
  /* Mission */
  .mission__inner {
    padding-block: 64px;
  }

  /* Advantages */
  .advantages__inner {
    padding-block: 64px;
  }

  /* Stages */
  .stages__inner {
    padding-block: 64px;
  }
}

@media (max-width: 699px) {
  /* Advantages */
  .advantages__list {
    justify-content: start;
  }

  .advantage {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 599px) {
  /* Hero */
  .hero__title {
    margin-top: 40px;
    font-size: 36px;
  }

  .hero__subtitle {
    max-width: 400px;
    font-size: 16px;
  }

  /* Mission */
  .mission__title {
    font-size: 30px;
  }
}

@media (max-width: 499px) {
  /* Hero */
  .hero__inner {
    padding-inline: 20px;
  }

  .hero__title {
    margin-top: 60px;
  }
}
