@media (max-width: 1439px) {
  /* Header */
  .header-bottom__inner {
    padding-top: 25px;
  }

  .header__nav {
    max-width: 600px;
  }
}

@media (max-width: 999px) {
  /* Header */
  .header__nav {
    max-width: 400px;
  }
}

@media (max-width: 799px) {
  /* Header */
  .burger-icon {
    display: block;
  }

  .nav-wrapper {
    position: fixed;
    top: 15%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--transition);
    z-index: 2;
    overflow-y: auto;
  }

  .nav-wrapper--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav__list {
    flex-direction: column;
    font-size: 24px;
    row-gap: 30px;
    text-align: center;
  }
}

@media (max-width: 599px) {
  /* Header */
  .header-top__inner {
    flex-direction: column;
    row-gap: 20px;
  }

  .nav-wrapper {
    top: 19%;
  }
}

@media (max-width: 499px) {
  /* Header */
  .header__btn {
    display: none;
  }
}
