@media (max-width: 1439px) {
  /* Header */
  .header-bottom__inner {
    padding-top: 25px;
  }

  .header__nav {
    max-width: 600px;
  }
}

@media (max-width: 999px) {
  /* Header */
  .header__nav {
    max-width: 400px;
  }

  /* Blog */
  .blog__list {
    flex-wrap: wrap;
  }

  .blog__item {
    max-width: 350px;
  }

  /* Footer */
  .footer-body__inner {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    row-gap: 50px;
    justify-items: start;
  }

  .footer__directions {
    width: 234px;
    justify-self: end;
  }

  .footer__contact {
    justify-self: end;
  }
}

@media (max-width: 899px) {
  /* Footer */
  .footer-heading__inner {
    align-items: start;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 799px) {
  /* Header */
  .burger-icon {
    display: block;
  }

  .nav-wrapper {
    position: fixed;
    top: 15%;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--transition);
    z-index: 2;
    overflow-y: auto;
  }

  .nav-wrapper--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav__list {
    flex-direction: column;
    font-size: 24px;
    row-gap: 30px;
    text-align: center;
  }

  /* Blog */
  .blog__inner {
    padding-block: 64px;
  }

  .blog__heading {
    flex-direction: column;
    align-items: start;
  }

  .blog__list {
    justify-content: center;
  }

  .blog__item {
    max-width: 550px;
  }
}

@media (max-width: 599px) {
  /* Header */
  .header-top__inner {
    flex-direction: column;
    row-gap: 20px;
  }

  .nav-wrapper {
    top: 21%;
  }

  /* Footer */
  .footer-body__inner {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .footer__about {
    max-width: none;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__copy {
    display: none;
  }

  .footer__copy--mobile {
    display: block;
  }

  .footer__directions,
  .footer__contact {
    justify-self: auto;
  }

  .footer__number,
  .footer__email {
    justify-content: center;
  }
}

@media (max-width: 499px) {
  /* Global */
  .title {
    font-size: 32px;
  }

  /* Header */
  .header__btn {
    display: none;
  }

  /* Footer */

  .footer__title {
    font-size: 20px;
  }

  .footer-body {
    padding-bottom: 20px;
  }

  /* .footer-body__inner {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .footer__about {
    max-width: none;
  }

  .footer__logo {
    justify-content: center;
  }

  .footer__copy {
    display: none;
  }

  .footer__copy--mobile {
    display: block;
  }

  .footer__directions,
  .footer__contact {
    justify-self: auto;
  }

  .footer__number,
  .footer__email {
    justify-content: center;
  } */
}
