@import url("./global-media.css");

@media (max-width: 899px) {
  /* Hero */
  .directions__item {
    flex-grow: 1;
  }

  .directions__link {
    max-width: none;
  }
}

@media (max-width: 599px) {
  /* Hero */
  .hero__title {
    font-size: 44px;
  }
}

@media (max-width: 499px) {
  /* Hero */
  .hero__title {
    font-size: 38px;
  }

  .hero__subtitle {
    font-size: 16px;
  }

  .hero__stats {
    flex-wrap: wrap;
  }
}
