@import url("./global-media.css");

@media (max-width: 1199px) {
  /* Hot */
  .hot__list {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }

  .hot-offer__badges {
    max-width: none;
    left: 0;
    padding-inline: 20px;
  }
}

@media (max-width: 999px) {
  /* Partners */
  .partners__list {
    grid-template-columns: repeat(2, minmax(0px, 1fr));
  }
}

@media (max-width: 899px) {
  /* Hero */
  .directions__item {
    flex-grow: 1;
  }

  .directions__link {
    max-width: none;
  }
}

@media (max-width: 799px) {
  /* Directions */
  .directions__inner {
    padding-block: 64px;
  }

  /* Hot */
  .hot__inner {
    padding-block: 64px;
  }

  .hot__heading {
    flex-direction: column;
    align-items: start;
  }

  /* Partners */
  .partners__inner {
    padding-block: 64px;
  }
}

@media (max-width: 699px) {
  /* Hot */
  .hot__list {
    grid-template-columns: 1fr;
  }

  /* Partners */

  .partners__list {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .partner {
    max-width: 450px;
    width: 100%;
  }
}

@media (max-width: 599px) {
  /* Hero */
  .hero__title {
    font-size: 44px;
  }
}

@media (max-width: 499px) {
  /* Hero */
  .hero__title {
    font-size: 38px;
  }

  .hero__subtitle {
    font-size: 16px;
  }

  .hero__stats {
    flex-wrap: wrap;
  }
}
