@import url("./global-media.css");

@media (max-width: 799px) {
  /* Advantages */
  .advantages__inner {
    padding-block: 64px;
  }

  /* Relations */
  .relations__inner {
    padding-block: 64px;
  }

  .relations__list {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .relation {
    flex-direction: column;
    max-width: none;
  }
}

@media (max-width: 699px) {
  /* Advantages */
  .advantages__list {
    justify-content: start;
  }

  .advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
    width: 100%;
  }

  .advantage__text {
    text-align: center;
  }
}

@media (max-width: 599px) {
  /* Hero */
  .hero__title {
    margin-top: 40px;
    font-size: 36px;
  }

  .hero__subtitle {
    max-width: 400px;
    font-size: 16px;
  }
}

@media (max-width: 499px) {
  /* Hero */
  .hero__inner {
    padding-inline: 20px;
  }

  .hero__title {
    margin-top: 60px;
  }
}
