/* Hero */
.hero {
  background: linear-gradient(135deg, #0d59a5e6 0%, #228ec3d9 100%);
}

.main__hero {
  margin-top: 91px;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 288px;
  text-align: center;
  color: var(--color-white);
}

.hero__title {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
}

.hero__subtitle {
  max-width: 672px;
  font-size: 18px;
  line-height: 1.5;
}

/* Mission */
.mission__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 96px;
}

.mission__badge {
  margin-bottom: 16px;
  padding: 10px 12px;
  border-radius: var(--border-radius);
  background-color: #0d59a51a;
  font-weight: 700;
  color: var(--color-blue);
}

.mission__title {
  max-width: 896px;
  margin-bottom: 48px;
  text-align: center;
}

.mission__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 896px;
  font-size: 16px;
  line-height: 1.5;
}

.mission__definition {
  font-size: 18px;
}

.mission__definition b {
  color: var(--color-black);
}

/* Advantages */
.advantages {
  background-color: #f8f8f6;
}

.advantages__inner {
  padding-block: 96px;
}

.advantages__title {
  margin-bottom: 48px;
  text-align: center;
}

.advantages__list {
  display: flex;
  gap: 24px;
}

.advantage {
  padding: 24px;
  background-color: var(--color-white);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 8px 30px -8px #1d23301f;
  border-radius: 16px;
}

.advantage__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  aspect-ratio: 1;
  margin-bottom: 16px;
  background-color: #0d59a51a;
  border-radius: 12px;
}

.advantage__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
}

.advantage__text {
  line-height: 1.5;
}
