/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/img/bg/hero-bg.jpg") center center / cover
    no-repeat;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 30px;
  color: var(--color-white);
}

.hero__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 310px;
  padding: 8px 16px;
  background-color: var(--color-orange);
  border-radius: var(--border-radius);
  font-weight: 700;
}

.hero__badge img {
  width: 14px;
  aspect-ratio: 1;
}

.hero__title {
  max-width: 800px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
}

.hero__title span {
  color: #f67e55;
}

.hero__subtitle {
  max-width: 576px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.hero__stats {
  display: flex;
  gap: 32px;
}

.hero__stat p {
  margin-bottom: 5px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}

.hero__stat span {
  opacity: 0.7;
}

/* Directions */
.directions__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 96px;
}

.directions__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  text-align: center;
}

.directions__title {
  margin-bottom: 16px;
}

.directions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.directions__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 389px;
  height: 400px;
  padding: 0 24px 24px 24px;
  border-radius: 16px;
  overflow: hidden;
  color: var(--color-white);
}

.directions__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}

.directions__link:hover .directions__img,
.directions__link:focus .directions__img,
.directions__link:active .directions__img {
  transform: scale(1.1);
}

.directions__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.direction__badge {
  max-width: 82px;
  margin-bottom: 15px;
  padding: 6px 12px;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 700;
}

.direction__badge--orange {
  background-image: linear-gradient(to right, #ee5b2b, #f67e55);
}

.direction__badge--blue {
  background-image: linear-gradient(to right, #0d59a5, #267fd9);
}

.direction__badge--green {
  background-image: linear-gradient(to right, var(--color-green), #0d59a5);
}

.direction__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  transition: var(--transition);
}

.directions__link:hover .direction__title,
.directions__link:focus .direction__title,
.directions__link:active .direction__title {
  color: var(--color-orange);
}

.direction__subtitle {
  margin-bottom: 16px;
  opacity: 0.8;
  line-height: 20px;
}

.direction__more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  transition: var(--transition);
}

.directions__link:hover .direction__more,
.directions__link:hover .direction__more,
.directions__link:hover .direction__more {
  color: var(--color-orange);
}

/* Hot */
.hot {
  background-color: #f8f8f6;
}

.hot__inner {
  padding-block: 96px;
}

.hot__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 48px;
}

.hot__badge {
  display: flex;
  gap: 8px;
  max-width: 230px;
  align-items: center;
  margin-bottom: 16px;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  background-color: #ee5b2b1a;
  font-weight: 800;
  color: var(--color-orange);
}

.hot__title {
  margin-bottom: 8px;
}

.hot__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: var(--border-radius);
  font-weight: 700;
  color: var(--color-blue);
  transition: var(--transition);
}

.hot__link:hover,
.hot__link:focus,
.hot__link:active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.hot__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 24px;
}

.hot-offer {
  position: relative;
  border-radius: 12px;
  background-color: var(--color-white);
  transition: var(--transition);
}

.hot-offer:hover {
  transform: translateY(-10px);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 20px 50px -15px #1d233026;
}

.hot-offer__img {
  width: 100%;
  height: 192px;
}

.hot-offer__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.hot-offer__badges {
  position: absolute;
  top: 12px;
  left: 24px;
  display: flex;
  justify-content: space-between;
  max-width: 246px;
  width: 100%;
  color: var(--color-white);
}

.hot-offer__badges--solo {
  flex-direction: row-reverse;
}

.hot-badge {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: var(--color-orange);
  font-size: 12px;
}

.discount-badge {
  font-size: 14px;
  background-color: var(--color-green);
}

.hot-badge,
.discount-badge {
  padding: 4px 10px;
  border-radius: var(--border-radius);
  font-weight: 600;
  transition: var(--transition);
}

.hot-offer:hover .hot-badge,
.hot-offer:hover .discount-badge {
  background-color: var(--color-blue);
}

.hot-offer__content {
  padding: 20px;
}

.hot-offer__rating {
  margin-bottom: 12px;
}

.hot-offer__title {
  margin-bottom: 12px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.hot-offer__location {
  margin-bottom: 14px;
}

.hot-offer__info {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.hot-offer__info p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hot-offer__target {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price__old {
  margin-bottom: 8px;
  text-decoration: line-through;
}

.price__current {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  color: var(--color-blue);
}

.hot-offer__btn {
  padding: 12px 16px;
  background-color: var(--color-orange);
  border-radius: 10px;
  font-weight: 600;
  color: var(--color-white);
  transition: var(--transition);
}

.hot-offer__btn:hover,
.hot-offer__btn:focus,
.hot-offer__btn:active {
  background-color: #ee5b2be6;
}

.hot-offer__partner {
  font-size: 12px;
}

/* Partners */
.partners__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 96px;
}

.partners__title {
  margin-bottom: 16px;
  text-align: center;
}

.partners__subtitle {
  margin-bottom: 48px;
  text-align: center;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 24px;
  width: 100%;
  margin-bottom: 40px;
}

.partner {
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 16px;
  border: 1px solid #dae0e7;
  transition: var(--transition);
}

.partner:hover {
  transform: translateY(-10px);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 20px 50px -15px #1d233026;
}

.partner__heading {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.partner__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  aspect-ratio: 1;
  background-color: #f7f3ed;
  border-radius: 12px;
}

.partner__img img {
  width: 24px;
  aspect-ratio: 1;
}

.partner__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  color: var(--color-black);
}

.partner__body {
  margin-bottom: 16px;
}

.partner__body p:first-child {
  margin-bottom: 8px;
}

.partner__link {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 10px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--color-blue);
  transition: var(--transition);
}

.partner__link:hover,
.partner__link:focus,
.partner__link:active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.partners__btn {
  background-color: var(--color-blue);
}
