/* Hero */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/img/bg/hero-bg.jpg") center center / cover
    no-repeat;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;

  color: var(--color-white);
}

.hero__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 310px;
  padding: 8px 16px;
  background-color: var(--color-orange);
  border-radius: 9999px;
  font-weight: 700;
}

.hero__badge img {
  width: 14px;
  aspect-ratio: 1;
}

.hero__title {
  max-width: 800px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
}

.hero__title span {
  color: #f67e55;
}

.hero__subtitle {
  max-width: 576px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.hero__stats {
  display: flex;
  gap: 32px;
}

.hero__stat p {
  margin-bottom: 5px;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
}

.hero__stat span {
  opacity: 0.7;
}

/* Directions */
.directions__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 96px;
}

.directions__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.directions__badge {
  margin-bottom: 16px;
  padding: 10px 16px;
  background-color: #0d59a51a;
  border-radius: 9999px;
  color: var(--color-blue);
  font-weight: 700;
}

.directions__title {
  margin-bottom: 16px;
}

.directions__list {
  display: flex;
  gap: 24px;
}

.directions__link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 389px;
  height: 400px;
  padding: 0 24px 24px 24px;
  border-radius: 16px;
  overflow: hidden;
  color: var(--color-white);
}

.directions__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition);
}

.directions__link:hover .directions__img {
  transform: scale(1.1);
}

.directions__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.direction__badge {
  max-width: 82px;
  margin-bottom: 15px;
  padding: 6px 12px;
  border-radius: 9999px;
  font-size: 12px;
  font-weight: 700;
}

.direction__badge--orange {
  background-image: linear-gradient(to right, #ee5b2b, #f67e55);
}

.direction__badge--blue {
  background-image: linear-gradient(to right, #0d59a5, #267fd9);
}

.direction__badge--green {
  background-image: linear-gradient(to right, #367d65, #0d59a5);
}

.direction__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  transition: var(--transition);
}

.directions__link:hover .direction__title,
.directions__link:focus .direction__title,
.directions__link:active .direction__title {
  color: var(--color-orange);
}

.direction__subtitle {
  margin-bottom: 16px;
  opacity: 0.8;
  line-height: 20px;
}

.direction__more {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  transition: var(--transition);
}

.directions__link:hover .direction__more,
.directions__link:hover .direction__more,
.directions__link:hover .direction__more {
  color: var(--color-orange);
}
