/* Hero */
.hero {
  background: linear-gradient(135deg, #0d59a5e6 0%, #228ec3d9 100%);
}

.main__hero {
  height: 340px;
  margin-top: 120px;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 288px;
  text-align: center;
  color: var(--color-white);
}

.hero__title {
  margin-bottom: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
}

.hero__subtitle {
  max-width: 672px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.5;
}

.hero__link {
  display: flex;
  align-items: center;
  gap: var(--gap);
  padding: 20px 40px;
  background-color: #f9fafb;
  border-radius: 12px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  color: var(--color-blue);
  transition: var(--transition);
}

.hero__link:hover,
.hero__link:focus,
.hero__link:active {
  opacity: 0.8;
}

/* Advantages */
.advantages__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 96px;
}

.advantages__badge {
  margin-bottom: 16px;
  padding: 10px 12px;
  border-radius: var(--border-radius);
  background-color: #0d59a51a;
  font-weight: 700;
  color: var(--color-blue);
}

.advantages__title {
  margin-bottom: 48px;
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap-reverse;
}

.advantage {
  max-width: 286px;
  padding: 24px;
  background-color: var(--color-white);

  border: solid 1px #dae0e7;
  border-radius: 16px;
  transition: var(--transition);
}

.advantage:hover {
  transform: translateY(-10px);
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 0 #0000,
    0 8px 30px -8px #1d23301f;
}

.advantage__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  aspect-ratio: 1;
  margin-bottom: 16px;
  background: linear-gradient(135deg, #0d59a5 0%, #ee5b2b 100%);
  border-radius: 12px;
}

.advantage__title {
  margin-bottom: 10px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
}

.advantage__text {
  line-height: 1.5;
}
